DATABASE_URL=postgres://raijin:raijin@localhost:5432/raijin

# auth
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# proxy LLM
GROQ_API_KEY=

# storage
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_BUCKET=raijin
STORAGE_ACCESS_KEY_ID=raijin
STORAGE_SECRET_ACCESS_KEY=raijin123
STORAGE_REGION=auto
